@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(background.png);
	background-repeat: repeat;
}

#main_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#top_bar_black {
	width:100%;
	height:90px;
	background-color:#7b431d;
}
#question_text {
    width: 800px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    font-size:12px;
}